.first.card-title.h5 {
    margin-left: 49px;
}

.second.card-title.h5 {
    margin-left: 12px;
}

.third.card-title.h5 {
    margin-left: 23px;
}

.fourth.card-title.h5 {
    margin-left: 29px;
}

.fifth.card-title.h5 {
    margin-left: 61px;
}

.sixth.card-title.h5 {
    margin-left: 40px;
}

p.align-sentace.card-text {
    margin-left: 36px;
}
p.align-Booked.card-text {
    margin-left: 49px;
}
.table-data {
    margin-top: 16px;
}
button.btn.btn-secondary.btn-sm.dropdown-toggle {
    left: 232px;
    background-color: transparent;
    color: #333;
}