img.img-style {
    margin-left: 38px;
    border-radius: 5px;
}
.ant-col.design.css-dev-only-do-not-override-djtmh8 {
    margin-top: 14px;
    margin-left: 28px;
    font-weight: 600;
}
.ant-table-container {
    margin-top: 31px;
}