img.img-style {
    margin-left: 38px;
    border-radius: 5px;
}
.ant-col.design.css-dev-only-do-not-override-djtmh8 {
    margin-top: 14px;
    margin-left: 28px;
    font-weight: 600;
}
.ant-table-container {
    margin-top: 31px;
}
.festivals-table-container {
    margin: 20px;
  }
  
  .festivals-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .festivals-table th,
  .festivals-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .festivals-table th {
    background-color: #f2f2f2;
  }
  
  .festivals-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  