.login-container {
  height: 100vh;
  width: 50vh;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  margin-bottom: 24px;
}

.login-form {
  width: 100%;
}

.login-form-button {
  width: 100%;
}

.site-form-item-icon {
  color: rgba(0, 0, 0, 0.25);
}

.content {
  position: absolute;
  font-size: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.login-header-signin {
  min-width: 100px;
  border: transparent;
  border-radius: 4px;
  height: 30px !important;
  color: #d4e3f2;
  font-weight: bold;
  background-color: transparent;
  z-index: 2;
}
button.ant-btn.css-dev-only-do-not-override-1xg9z9n.ant-btn-default.login-header-signin {
  background: transparent;
  color: #d4e3f2;
}
.login-header-signup {
  min-width: 100px;
  border: 1px solid #d4e3f2;
  border-radius: 4px;
  height: 30px !important;
  color: #d4e3f2;
  font-weight: bold;
  background-color: transparent;
  z-index: 2;
}
button.ant-btn.css-dev-only-do-not-override-1xg9z9n.ant-btn-default.login-header-signup {
  background: transparent;
  color: #d4e3f2;
  border: 1px solid #d4e3f2;
}
